<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = 'place_for_results'></div>
</body> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var MONITORING_INTERVAL = 2000;
    setInterval(() => {
        console.log('iii')
        $(document).ready(function(){
            $.ajax({
                url: '/monitoringPageUploader',
                type: 'get',
                data: {},
                success: function(response){
                    $('#place_for_results').html(response);
                },
                error: function(xhr){
                    console.log('ERROR! ',xhr);
                }
            });
        });
    }, 2000);
</script>
</html>